# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Don't use tabs for indentation. Use spaces.
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[{*.json,*.yml,*.md}]
indent_size = 2

[{*.html,*.css,*.js}]
indent_size = 4
